body{
    font-family: 'Lato' sans-serif;
    background-color: var(--background-color);
    background-image: url("img/background.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}
:root{
    font-size: 16px;
    --background-color: #FDEFEE;
    --main-color: #29251C;
    --pink-color: #E93F68;
    --secondary-color: #F29CB0;
    --secon-color: rgba(242, 156, 176, 0.4);
    --green-color: #89A8A2;
}

*{
    font-family: 'Lato' sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 50px;
}
h1{
    font-family: 'PT Serif', serif;
    font-size: 3rem;
}
p{
    font-size: 16px;
}
h1,p, h6{
    color: var(--main-color);
}
.container{
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
}
header{
    max-width: 100%;
    max-height: 52px;
    border: none;
    background-color: var(--secon-color);
    margin-top: 45px;
}
header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    max-width: 880px;
}
header ul li a.active{
    border: var(--pink-color) 1px solid;
    background-color: var(--background-color);
    padding: 16px 40px;
    opacity: .9;
}
header ul li a{
    text-decoration: none;
    color: var(--main-color);
    opacity: .7;
}

.content-1 img {
    position: fixed;
    margin-top: -530px;
    margin-left: -333px;
    z-index: 0;
    pointer-events: none;
}
.content-1{
    margin-top: 44%;
    margin-left: 25%
}
.content-1::before {
    width: 1300.64px;
    max-width: 100%;
    height: 771.37px;

    background-image: url('img/main-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px center;

    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
}
.content-1 button{
    width: 256px;
    height: 71px;
    background: var(--pink-color);
    border: none;
    box-shadow: 7px -5px 14px 3px rgba(74, 13, 9, 0.25);

    font-size: 1.5rem;
    color: white;

    margin: 28px 0 17px ;
}
.content-1 p{
    font-size: 0.75rem;
    max-width: 251px;
    text-align: center;
}

.content-2 h1, .content-4 h1, .content-5 h1, .content-6 h1{
    margin: 170px 0 70px 0;
    text-align: center;

}
.advantagt{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ad-1{
    display: flex;
    align-items: center;
    min-width: 305px;
    margin-bottom: 50px;
}
.ad-1 p{
    font-size: 1.25rem;
    opacity: .7;
    margin-left: 45px;
}
.content-2::before {
    width: 1480px;
    max-width: 100%;
    height: 847px;

    background-image: url('img/drag-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    content: '';
    display: block;
    position: absolute;
    top: 750px;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
}
.content-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-3 h1{
    margin: 300px 0 60px 0;
}
.content-3 p{
    font-size: 1.25rem;
    max-width: 710px;
    margin-bottom: 30px;
    opacity: .7;
}
.content-3 h1, .content-3 p, .content-4 h1, .content-4 p, .content-5 h1, .content-6 h1{
    text-align: center;
}
.content-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-4 h1{
    margin: 0;
    margin-top: 170px;
}
.content-4 p{
    font-size: 1.25rem;
    margin: 24px 0 20px 0;
    font-family: 'Lato' sans-serif;
}
#catalog{
    margin-bottom: 58px;
    max-height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secon-color);
}
.cakes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-cake{
    margin-right: 16px;
    display: none; /* Скрыто по умолчанию */
}
.show {
    display: block;
}
/* Стиль кнопок */
.btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    padding: 12px 20px;

}
  
  /* Добавить светло-серый фон на наведении курсора мыши */
.btn:hover {
    background-color: #E93F68;
}
  
  /* Добавить темный фон для активной кнопки */
.btn.active {
    background-color: #E93F68;
    color: white;
    padding: 12px 40px;
}
.set:hover{
    padding: 10px 74px;
    background-color: var(--secon-color);
    border: var(--secon-color) 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 22px 0 15px 0;
    font-size: 1.25rem;
    opacity: .7;
}
.set{
    padding: 10px 74px;
    border: 1px solid var(--green-color);
    margin: 22px 0 15px  0;
    font-size: 1.25rem;
    opacity: .7;
    color: var(--pink-color);
    cursor: pointer;
}
.content-button{
    display: flex;
    justify-content: space-between;
}
.korsina{
    padding: 6px 35px;
    border: none;
    background-color: var(--pink-color);
    color: white;
    opacity: .9;
    font-size: 0.9rem;
}
.plus{
    border: 1px solid var(--green-color);
    padding: 6px 15px;
    color: var(--pink-color);
    opacity: .7;
    font-size: 0.9rem;
}
hr{
    border: 1px solid var(--green-color);
    margin: 47px 0 63px 0;
}
.slaid{
    font-size: 1.25rem;
    color: var(--pink-color);
    margin-top: 40px;
    text-align  : center;
}
.reviews{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}
.reviews ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.reviews ul li{
    margin: 20px 3px 0 3px;
}
.content-reviews{
    max-width: 300px;
    height: 167px;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 35px 21px;
    margin-bottom: 37px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    opacity: .7;
}
.content-reviews:nth-child(2n){
    background-color: var(--green-color);
    opacity: .7;
}
.content-reviews p{
    font-size: 0.75rem;
}
.content-5 h1{
    margin-bottom: 60px;
}
.content-6{
    border: 2px solid var(--pink-color);
    padding: 29px 0 39px 0;
    max-width: 100%;
    margin: 170px 0;
}
.content-6 h1{
    margin: 30px 0 25px 0;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
input[type=text]{
    padding: 18px 40px;
    border: 1px solid var(--pink-color);
    margin-top: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--pink-color);
    font-size: 1.25rem;
    resize: vertical;
}
input[type=submit]{
    width: 290px;
    height: 60px;
    background: var(--pink-color);
    border: none;
    font-size: 1.5rem;
    color: white;
    margin: 28px 0 17px 0;
}
input[type=submit]:hover {
    background-color: #a82340;
  }
.form p{
    font-size: 0.75rem;
}
.pd{
    color: var(--pink-color);
    text-decoration: underline;
}
.content-6::before {
    width: 985px;
    max-width: 100%;
    height: 501px;

    background-image: url('img/bottom-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px center;

    content: '';
    display: block;
    position: absolute;
    top: 4424px;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
}
.content-7{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.content-7 ul li{
    list-style: none;
    margin-top: 20px;
    font-size: 0.75rem;
    opacity: .4;
}
.content-7 ul li:nth-child(1){
    font-size: 1rem;
    opacity: .7;
}
.content-7 ul div{
    display: flex;
}
.content-7 ul div li{
    margin-right: 10px;
}
.content-7 ul{
    width: 147px;
    margin-right: 30px;
}
.content-7 ul li a{
    text-decoration: none;
    color: var(--main-color);
}
.content-7 ul li a img{
    width: 18px;
    border-radius: none;
}
.content-7::before {
    width: 940px;
    max-width: 100%;
    height: 250px;

    background-image: url('img/footer-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    content: '';
    display: block;
    position: absolute;
    top: 5083px;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
}
select{
    display: none;
}
@media screen and (max-width: 768px) {
    :root{
        font-size: 14px;
    }
    .container{
        max-width: 90%;
    }
    .content-1::before{
        background-position: 50px center;
        top: -135px;
    }
    .advantagt{
        flex-direction: column;
        align-content: center;
    }
    .content-2::before{
        height: 1070px;
        background-position: center;
        top: 575px;
    }
    .content-6::before{
        background-position: center;
        top: 5788px;
    }
}
@media screen and (max-width: 666px) {
    .reviews{
        justify-content: center;
    }
    #catalog{
        background: none;
        display: flex;
        justify-content: center;
    }
    .btn{
        display: none;
    }
    select{
        border: none;
        display: flex;
        background-color: var(--secondary-color);
        padding: 14px 50px;
    }
}
button.burger{
    border: none;
    width: 40px;
    height: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transform: translateX(0px);
    transition: .3s;
}
button.burger.open{
    transform: translateX(-20px);
}
button.burger .line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: .3s;
}
button.burger.open .line-2{
    width: 0px;
}
button.burger.open .line-1{
   transform: rotateZ(45deg) translateX(45%);
}
button.burger.open .line-3{
    transform: rotateZ(-45deg) translateX(45%);
}
@media screen and (max-width:576px){
    header{
        background: none;
    }
    header ul{
        top: 100px;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
        background: white;
        z-index: 2;
        padding: 20px 10px;
        width: 100px;

        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;

        transition: .3s;
    }
    header ul.menu.open{
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
        border-radius: 10px;
    }
    button.burger{
        display: flex;
    }
    header ul li a.active{
        border: none;
        background: none;
        padding: 0;
    }
    header ul li:nth-child(1){
        display: none;
    }
}
.sticky {
    position: fixed;
    top: -45px;
    width: 90%;
}
